# Ignore large data directories
original_data/
derivatives/

# Ignore Python cache files
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/

# Ignore custom scripts and LaTeX files
get_counts.py
EEG_Pipeline_Documentation*
